h1 {
    background-color: #004175;
    border-bottom: 3px solid #89DEEF;
    font-family: Open Sans, Oswald; 
    color: white; 
    padding: 15px; 
    font-size: 120%; 
    padding-left: 30px; 
}

h2 {
    background-color: white;
    font-family: Open Sans, Oswald; 
    color: black; 
    padding-left: 30px;
    font-size: 110%; 
}

body {
    font-family: open sans; 
}

.adoptform {
    font-size: 25%; 
}

.traits {
    display: flex; 
    /* need this to activate flexing */
    justify-content: flex-start; 
    flex-wrap: wrap; 
    
}

.traits > p {
    /* selects children of class */
    background-color: #89DEEF; 
    padding: 10px; 
    margin: 0px 10px 10px 0px;
    /* top right bottom left like a clock */
    border-radius: 30px;
    /* knocks off the corner of the box */
}

#dog-container {
    border: solid purple;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.dog {
    width: 30%; 
    border: 3px solid pink; 
}

img {
    width: 100%;
    /* % adjusts to the parent*/
    
}
