h1 {
    background-color: #004175;
    border-bottom: 3px solid #89DEEF;
    font-family: Open Sans, Oswald; 
    color: white; 
    padding: 15px; 
    font-size: 120%; 
    padding-left: 30px; 
}

h2 {
    background-color: white;
    font-family: Open Sans, Oswald; 
    color: black; 
    padding-left: 30px;
    font-size: 110%; 
}

.adoptform {
    font-size: 80%; 
    font-family: open sans;
    padding-left: 30px;
}

.dogname {
    font-family: oswald;
    border: 2px solid green; 
    margin: -7px 0px 0px 0px; 
}

body {
    font-family: open sans; 
}

.traits {
    display: flex; 
    /* need this to activate flexing */
    justify-content: flex-start; 
    flex-wrap: wrap; 
   
}

.traits > p {
    /* selects children of class */
    background-color: #89DEEF; 
    padding: 3px; 
    margin: 0px 5px 4px 0px;
    /* top right bottom left like a clock */
    border-radius: 30px;
    /* knocks off the corner of the box */
    font-size: 50%;
}

#dog-container {
    /* #is for ids*/
    border: solid purple;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 0px 30px 0px 30px;
}

.dog {
    width: 32%; 
    border: 3px solid pink; 
    /* display: wrap; 
    justify-content: space-between;  */
}

img {
    width: 100%;
    /* % adjusts to the parent*/
    border: 2px solid orange;
}

.footer {
    border: solid salmon; 
    display: flex; 
    height: 100px; 
}

.footblock {
    flex: 1 1 auto; 
}
