h1 {
    background-color: #004175;
    border-bottom: 3px solid #89DEEF;
    font-family: Open Sans, Oswald; 
    color: white; 
    padding: 15px; 
    font-size: 120%; 
    padding-left: 30px; 
}

h2 {
    background-color: white;
    font-family: Open Sans, Oswald; 
    color: black; 
    padding-left: 30px;
    font-size: 110%; 
}

body {
    font-family: open sans; 
}

adoptform {
    font-size: 40%; 
}